<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <h1>PAA Social</h1>
    <p>Home Page</p>
  </head>
  <body>


  <ul class="cards">
    <% @events.each do |event| %>
      <li class="cards__item">
        <div class="card">
            <div class="card__image card__image--fence3">
            </div>
            <div class="card__content">
              <div class="card__title">
                <%= event.title %>
              </div>
              <p class="card__text">
                <%= event.location %>
              </p>
              <p class="card__text">
                <% dateString = event.date %>
                <%= dateString.strftime("%B %-d, %Y") %>
              </p>
              <p class="card__text">
                <%= timeString = event.time %>
                <% timeString.strftime("%H:%M:%S") %>
              </p>
              <button class="btn">
                I am going!
              </button>
            </div>
        </div>
      </li>
    <% end %>
  </ul>


  </body>
</html>
